body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

button {
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 600;
}

.hero-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 100px;
  padding: 30px 200px 0 200px;
  min-height: 90vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  flex-shrink: 0;
  height: auto;
  width: 200px;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-links,
.hero-text-container p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 50px;
}

.hero-text-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 500px;
  margin: 0;
}

.hero-text-container span {
  font-size: 58px;
  font-weight: 1000;
  color: #ff8c00;
}

.hero-text-container p {
  max-width: 600px;
  margin-top: 0;
}
.primary {
  background-color: #ff8c00;
}

.hero-image {
  align-self: flex-end;
}

.hero-image img {
  display: block;
  height: auto;
  max-width: 450px;
}

.people-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

.title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 50px;
}
.cards-container {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 54px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e7eb;

  box-shadow:
  /* Right shadow */
    10px 0px 15px -5px #00000025,
    /* Bottom shadow */ 0px 10px 15px -5px #00000017;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 18px 10px;
  max-width: 300px;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center 10%;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.card .text {
  color: gray;
  text-align: left;
  max-width: 200px;
  font-size: 20px;
  font-style: italic;
}

.name {
  font-weight: 900;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  gap: 10px;
  padding: 0 200px 100px 200px;
}

.input-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

input {
  border: none;
  border-radius: 8px;
  padding: 16px 36px;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 600;
}

input:focus {
  outline: 1px solid #ff8c00;
}
