body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 100px;
  padding: 30px 200px 0 200px;
  min-height: 90vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  flex-shrink: 0;
  height: auto;
  width: 200px;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-links,
.hero-text-container p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero-text-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 500px;
  margin: 0;
}

.hero-text-container span {
  font-size: 58px;
  font-weight: 1000;
  color: #ff8c00;
}

.hero-text-container p {
  max-width: 600px;
  margin-top: 0;
}

.hero-text-container button {
  background-color: #ff8c00;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 600;
}

.hero-image {
  align-self: flex-end;
}

.hero-image img {
  display: block;
  height: auto;
  max-width: 450px;
}

.people-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 100px;
  background-color: #e5e7eb;
}
.cards-container {
  display: flex;
  /* align-items: stretch; */
}

.card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e7eb;
  box-shadow: 2px 4px 16px #0000000f;
  border-radius: 4px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  aspect-ratio: 3 /4;
  object-fit: cover;
  object-position: center 20%;
  display: block;
}

.image-two {
  /* background-color: #7ec50b */
}

.card .text {
  color: gray;
  padding: 24px 8px;
  text-align: left;
  max-width: 200px;
  font-size: 24px;
  font-style: italic;
}

.card span {
  display: block;
}
