/* #FF8C00 */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 100px;
  padding: 30px 200px 100px 200px;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  text-decoration: none;
}

.logo img {
  flex-shrink: 0;
  height: auto;
  width: 200px;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-links,
.hero-text-container p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero-text-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 500px;
  margin: 0;
}

span {
  font-size: 58px;
  color: #f9faf8;
  font-weight: 1000;
  color: #ff8c00;
}

.hero-text-container p {
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-text-container button {
  background-color: #ff8c00;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 600;
}

.hero-image img {
  height: auto;
  max-width: 450px;
  background: transparent;
}
