/* #FF8C00 */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.hero-container {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

/* .logo img {
  flex-shrink: 0;
  height: auto;
  width: 200px;
} */

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
